@mixin mp($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

section {
    background: purple;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid blue;
    border-radius: 10px;
}

/*
.btn:hover {
    cursor: pointer;
}
.btn:hover, .button:focus {
    filter: brightness(120%);
    box-shadow: 4px 2px 5 px green;
}
*/