@mixin mp($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

section {
    background: purple;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid blue;
    border-radius: 10px;
}
