$bg: linear-gradient(180deg, rgba(212, 199, 79, 0.73) 0%, #11978c 100%);
$text: #0b665e;
$btn: red;
$btn-hover: yellow;
$border: grey;
$checkbox: pink;
$white: white;
$black: black;
$font: 'Zalando Sans Expanded', sans-serif;