$bg: linear-gradient(180deg, rgba(212, 199, 79, 0.73) 0%, #11978c 100%);
$text: #0b665e;
$btn: #16b8aa;
$btn-delete: #d4c74f;
$btn-hover: #808080;
$border: #0b665e;
$checkbox: #16b8aa;
$grey: #d6d6d6;
$white: white;
$black: black;
$font: 'Zalando Sans Expanded', sans-serif;
