$bg: linear-gradient(180deg, rgba(212, 199, 79, 0.73) 0%, #11978c 100%);
$text: #0b665e;
$btn: #16b8aa;
$btn-delete: #16b8aa;
$btn-hover: #0b665e;
$border: #0b665e;
$checkbox: blue;
$grey: rgb(214, 214, 214);
$white: white;
$black: black;
$font: 'Zalando Sans Expanded', sans-serif;

/*
#d4c74f
*/