@use 'scss-reset/reset';
@import "./variables";
@import "./button";


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body {
    font-size: 16px;
    font-family: $font;
    color: $text;
    width: 100%;
    min-height: 100%;
    @include mp(768px) {
        font-size: 22px;
    }
}

body {
    padding: 20px;
    background: $bg;
}
body {
    background: $bg;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    color: $text;
    font-family: $font;
    font-size: 2rem;
    font-weight: 900;
}
p {
    color: $text;
    font-family: $font;
    font-size: 1rem;
    font-weight: 900;
}
